<div class="d-flex justify-content-center">
  <button class="btn btn-black text-white" (click)="toggleGallery()">
    <h5>Galeria zdjęć</h5>
  </button>
</div>
@if (showGallery)
{
  <div>
    <div class="container py-4">
      <div class="row g-3">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let img of images; let i = index">
          <div class="card h-100">
            <img 
              [src]="img" 
              class="card-img-top gallery-img"
              alt="Zdjęcie {{ i + 1 }}"
              (click)="openLightbox(img)"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if(showLightbox)
{
  <div class="lightbox-overlay" (click)="closeLightbox()">
    <img [src]="currentImage" class="lightbox-img" (click)="$event.stopPropagation()">
    <button class="btn-close btn-close-white lightbox-close" (click)="closeLightbox()"></button>
  </div>
}