<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">BLOG</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3">
        <li class="nav-item">
          <search-bar (name)="onSearch($event)"></search-bar>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active">Blog</a>
        </li>

        @if (authService.isLoggedIn()) {
          <li class="nav-item">
            <button class="nav-link btn-toggle" (click)="toggleComponent('add')" [class.active]="activeType === 'add'">
              Dodaj post
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn-toggle" (click)="toggleComponent('gallery')" [class.active]="activeType === 'gallery'">
              Galeria
            </button>
          </li>
          <li>
            <button class="nav-link" (click)="mostPopularPost()">Na czasie</button>
          </li>
        }
      </ul>

      <div class="d-flex align-items-center gap-2">
        @if (!authService.isLoggedIn()) {
          <a class="btn btn-login" [routerLink]="['/login']">Logowanie</a>
          <a class="btn btn-signup" [routerLink]="['/signup']">Rejestracja</a>
        }
        @else {
          <button class="btn btn-logout" (click)="signOut()">Wyloguj</button>
        }
      </div>
    </div>
  </div>
</nav>

<div #container class="container mt-4"></div>