.inputBar {
    background-color: var(--bg-color);
    border-color: var(--border-color);
    color: var(--text-color);
    width: 250px;

    &::placeholder{
        color: var(--text-color);
    }
}