<div class="w-50 mx-auto mt-4"> 
  <div class="d-flex justify-content-center">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="cardForm rounded text-white p-4 w-100 w-md-75 w-lg-50 shadow" style="max-width: 700px;">
    <div class="mb-3">
      <textarea formControlName="text" class="textForm form-control" placeholder="Opis" rows="3">Opis</textarea>
        @if (postForm.controls['text'].touched && postForm.controls['text'].invalid) {
          <div class="text-danger small">
            Opis nie może być pusty
          </div>
        }
    </div>

    <div class="mb-3">
      <input type="file" class="textForm form-control" accept="image/*" (change)="onImageSelected($event)">
    </div>

    @if (imagePreview) {
      <div class="mb-3 text-center">
        <img [src]="imagePreview" class="img-fluid rounded border" style="max-height: 250px;">
      </div>
    }

    <button type="submit" class="btn btn-primary w-100 py-2" [disabled]="postForm.invalid">
      Dodaj
    </button>
  </form>
  </div>
</div>