.pagination-dark .page-link {
  color: #f8f9fa;
  background-color: #343a40;
  border: 1px solid #495057;
}

.pagination-dark .page-item.active .page-link {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}

.pagination-dark .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #343a40;
  border-color: #495057;
}
