.clickable-content {
  cursor: pointer;
}

.card {
  background-color: var(--card-bg);
}

.card .like-counter {
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-color);
  min-width: 20px;
  text-align: center;
  transition: background-color 0.2s;
}
