.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;

  &__title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    white-space: nowrap;
  }

  &__toggle {
    display: flex;
    justify-content: flex-end;
  }

  &__spacer {
    visibility: hidden;
  }
}