<div class="container mt-5">
  <h2>Logowanie</h2>
  <form autocomplete="off">
	<div class="mb-3">
  	<label class="form-label">Login</label>
  	<input [(ngModel)]="credentials.login" type="text"
         	class="form-control" name="username" placeholder="Nazwa użytkownika">
	</div>
	<div class="mb-3">
  	<label class="form-label">Hasło</label>
  	<input [(ngModel)]="credentials.password" type="password"
         	class="form-control" name="password" placeholder="Hasło">
	</div>
	@if (loginError) {
  	<div class="alert alert-danger">Nieprawidłowy login lub hasło</div>
	}
	<button (click)="signIn()" class="btn btn-primary" type="button">
  	Zaloguj
	</button>
  </form>
</div>
