:root {
  --bg-color: #ffffff;
  --text-color: #171717;
  --card-bg: #f6f6f6;
  --second-color: #e1e1e1;
  --border-color: #d5d5d5;
}

body.dark-mode {
  --bg-color: #141414;
  --text-color: #eaeaea;
  --card-bg: #1c1c1c;
  --second-color: #252525;
  --border-color: #242424;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card {
  background-color: var(--card-bg);
  border-color: var(--border-color);
}
