.post-card {
  max-width: 900px;
  width: 100%;
  min-height: 400px;
  background-color: var(--card-bg);
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  color: var(--text-color);
}

.post-card .badge {
  margin-bottom: 1rem;
  align-self: center;
}

.post-card p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.post-card img {
  max-height: 500px;
  object-fit: cover;
}
