<div class="container d-flex flex-column align-items-center">
  <div class="w-100 w-md-75">
    <add-post></add-post>
    <gallery></gallery>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center">
    <button class="btn btn-black btn-lg text-white mb-4" (click)="refreshPosts()">Odśwież posty</button>
  </div>
  <div class="row justify-content-center">
    @if (!(items$ | filter:filterText)?.length) {
      <div class="d-flex justify-content-center text-primary">
        <p>Brak wyników</p>
      </div>
    }
    @for (item of (items$ | filter:filterText); track item._id)
    {
      <div class="col-12 col-md-7 mb-4">
        <blog-item [image]="item.image" [text]="item.text" [postId]="item._id"></blog-item>
      </div>
    }
  </div>
</div>
