<div class="container">
  <div class="d-flex justify-content-center">
    <button class="btn btn-black btn-lgmb-4" style="color: var(--text-color); font-weight: bold;" (click)="refreshPosts()">Odśwież posty</button>
  </div>
  <div class="row justify-content-center">
    @if (!(items$ | filter:filterText)?.length) {
      <div class="d-flex justify-content-center text-primary">
        <p>Brak wyników</p>
      </div>
    }
    @for (item of (items$ | filter:filterText | paginate:currentPage:itemsPerPage); track item._id)
    {
      <div class="col-12 col-md-7 mb-4">
        <blog-item [image]="item.image" [text]="item.text" [postId]="item._id"></blog-item>
      </div>
    }
    <pagination
      [totalItems]="(items$ | filter:filterText)?.length || 0"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)">
    </pagination>
  </div>
</div>